

<!-- <h2 class="text-start space">L I C O R E R I A</h2><i class="fa-thin fa-mustache"></i>
<h1 class="text-start mb-4" style="font-family: 'Dancing Script', cursive; margin-left: 450px;">♥ EL PADRE MARITIN ♥</h1>
<div class="text-start" style="font-family: 'Dancing Script', cursive; margin-left: 250px;">
  <h3>" somos una licoreria donde estaras feliz , iz. Tambien contento , ento</h3>
  <h3 style="margin-left: 150px;">y sobre todo nadie nos controla, trola "</h3>
</div> -->



<h2 class="text-start space">L I C O R E R I A</h2>


<div class="container">
  <div class="left-component" style="color: white;">
    <app-lista></app-lista>
    <div style="margin: 40px 80px; background: white; color: black;">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="right-component" >
    <app-carrito></app-carrito>
  </div>
</div>
